/*Colours*/
:root {
    --resp-lightup: #0084FD;
    --resp-lighterup: #B5DDFF;
    --resp-lightbottom: #9792E4;
    --resp-claim: #FDC15F;
}


/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: large;
    font-family: sans-serif;
    text-align: center;
}


/*Debug*/
.debug header {
    background-color: aqua;
    height: 40px;
}

.debug main {
    background-color: blueviolet;
    height: 6000px;
}

.debug #strategic {
    background-color: aqua;
}
.debug #benefits {
    background-color: aqua;
}

.debug footer {
    background-color: brown;
    height: 100px;
}




/*Utilities*/
.container {
    width: 88%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
}

ul {
    list-style: none;
    gap: 3px;
}

.col-2 {
    width: calc((100%/12)*2);
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-8 {
    width: calc((100%/12)*8);
}


/*Big things*/
nav {
    justify-content: space-between;
}

.menu-lg {
    display: none;
}


.card>* {
    padding: 2rem 0;
}










@media screen and (min-width:768px) {
    .col-sm-8 {
        width: calc((100%/12)*8);
    }
    .col-sm-6{
        width: calc((100%/12)*6);
    }

    .col-sm-4 {
        width: calc((100%/12)*4);
    }
    .profile{
        display: flex;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: 75%;
    }
    .menu {
        display: none;
    }

    .menu-lg {
        display: inline;
    }
    .col-lg-4 {
        width: calc((100%/12)*4);
    }
    .col-lg-6 {
        width: calc((100%/12)*6);
    }
}

@media screen and (min-width:1200px) {


    .col-lg-6 {
        width: calc((100%/12)*6);
    }
}