/*Colours*/
:root{
    --resp-lightup:#0084FD;
    --resp-lighterup:#B5DDFF;
    --resp-lightbottom:#9792E4;
    --resp-claim:#FDC15F;
}


/*Reset CSS*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*Utilities*/
.container_80{

}




/*Debug*/
.debug header{
    background-color: aqua;
    height: 40px;
}

.debug main{
    background-color: blueviolet;
    height: 500px;
}

.debug footer{
    background-color: brown;
    height: 100px;
}



body{

}

/*Utilities*/
.col-2{
    width: calc((100%/12)*2) ;
}

.col-3{
    width: calc((100%/12)*3) ;
}

.col-4{
    width: calc((100%/12)*4) ;
}

.col-6{
    width: calc((100%/12)*6 ;
}

.col-8{
    width: calc((100%/12)*8 ;
}