/*Colours*/
:root {
    --resp-lightup: #0084FD;
    --resp-lighterup: #B5DDFF;
    --resp-lightbottom: #9792E4;
    --resp-claim: #FDC15F;
}


/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: large;
    font-family: sans-serif;
    text-align: center;
}


/*Debug*/
/*  .debug header {  background-color: aqua;
    height: 40px;
}


.debug main {
    background-color: blueviolet;
}

.debug #strategic {
    background-color: aqua;
}

.debug #benefits {
    background-color: aqua;
}*/

.debug #cta {
    background-color: aqua;
}

.debug footer {
    background-color: brown;
    height: 200px;
}




/*Utilities*/
.container {
    width: 88%;
    margin: auto;
    padding-bottom: 10%;
}

.d-flex {
    display: flex;
}

.row {
    flex-wrap: wrap;
    gap: 5%
}

ul {
    list-style: none;
    gap: 25px;
    align-items: center;
}

.img-100 {
    max-width: 100%;
    padding-top: 10%;
}

.btn-rad {
    border: none;
    font-size: large;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

.btn-spread {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.btn-blue {
    color: white;
    background-color: #0084FD;
}

.card {
    padding: 10%;
    border-radius: 1.5rem;
}

.card-white {
    padding: 10%;
    background-color: white;
    border-radius: 1.5rem;
    color: black;
    text-align: center;
}


.profile {
    border-radius: 50%;
    object-fit: contain;
}

.col-2 {
    width: calc((100%/12)*2);
}

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-12 {
    padding: 2rem 2rem;
    margin-left: -2rem;
    margin-right: -2rem
}


/*Big things*/
header {
    background-color: #0084FD;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    color: white;
    font-size: larger;
}

nav ul {
    padding-left: 2rem;
}

.menu-lg {
    display: none;
}



#download .card {
    background-color: var(--resp-lighterup);
}

#download .card h2 {
    font-weight: 700;
    color: var(--resp-lightup);
}

#download .img-100 {
    margin-bottom: -14%
}



.card p {
    padding-top: 10%;
    line-height: 200%;
    padding-bottom: 10%;
}

.card-left {
    text-align: left;
}

#download .fa-card {
    font-size: 250%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #0084FD;
}


#strategic {
    background-color: var(--resp-lightbottom);
    color: white;
    text-align: left;
}

#strategic .card h2 {
    font-weight: 700;
    padding-bottom: 10%;
    padding-top: 10%;
}


.card-white a {
    background-color: #9792E4;
    font-size: larger;
    padding: 1rem;
    border-radius: 50%;
}


.testim {
    color: black;
    padding-bottom: 5%;
}

#partners {
    color: white;
}

#partners h2 {
    color: var(--resp-lightbottom)
}

#partners .card {
    background-color: var(--resp-lightbottom);
}

#partners .card-white {
    padding: 10%;
    background-color: white;
    border-radius: 1.5rem;
    color: black;
    text-align: center;
}


#benefits {
    background-color: var(--resp-lightbottom);
    color: white;
    padding-top: 5%;
}

#benefits .card {
    background-color: var(--resp-);
    color: var(--resp-lightbottom);
    background-color: white;
    text-align: left;
}

#benefits .card p{;
    color: black;
}


#benefits .card .btn-rad{
    background-color: var(--resp-lightbottom);
    color: white;
    font-weight: 700;
}

#about-us{
    background-color: white;
    text-align: left;
}

#about-us h2{
    background-color: white;
    color: var(--resp-lightbottom);
}

#about-us .btn-rad{
    background-color: var(--resp-lightbottom);
    color: white
}

#about-us img{
    border-radius: 50%;
    padding-top: 10%;
}







@media screen and (min-width:768px) {
    .container-sm {
        width: 80%;
    }
    #partners .card-flex {
        display: flex;
        text-align: left;
        align-items: center;
        gap: 5%;
    }
    .col-sm-9 {
        width: calc((100%/12)*9);
    }

    .col-sm-8 {
        width: calc((100%/12)*8);
    }

    .col-sm-7 {
        width: calc((100%/12)*7);
    }

    .col-sm-6 {
        width: calc((100%/12)*6);
    }

    .col-sm-5 {
        width: calc((100%/12)*5);
    }

    .col-sm-4 {
        width: calc((100%/12)*4);
    }
    .col-sm-3 {
        width: calc((100%/12)*3);
    }

    .profile {
        display: flex;
    }
}

@media screen and (min-width:992px) {
    .container {
        width: 75%;
    }

    .container-lg {
        width: calc((100%/12)*4);
    }

    .menu {
        display: none;
    }

    .menu-lg {
        display: inline;
    }

    .col-lg-4 {
        width: calc((100%/12)*4);
    }

    .col-lg-6 {
        width: calc((100%/12)*6);
    }

    .col-lg-8 {
        width: calc((100%/12)*8);
    }
}

@media screen and (min-width:1200px) {


    .col-lg-6 {
        width: calc((100%/12)*6);
    }
}